form action="http://127.0.0.1:9292/pay?applicationId=a1f59504-b587-4119-bdad-0fce6bddcd02" method="POST" 
  input#opg-data name="data" type="hidden" value="" 
  button#button type="submit"  Pay Now
/ script src="libs/nacl-fast.min.js" 
/ script src="libs/nacl-util.min.js" 
/ script src="libs/random-bytes.min.js" 
javascript:
  let secret = nacl.util.decodeBase64("7RxqKxJPQZilQJuR9iEzkDXU6y8RNflsXWjgOi+H4Co=")
  let nonce = nacl.randomBytes(nacl.secretbox.nonceLength);

  let data = nacl.util.decodeUTF8(JSON.stringify({
    amount: 15,
    asset: 'BZD',
    customData: {
      id: 'xxx',
      quantity: 1
    }
  }))
  
  /* Encrypting payload */
  let message = nacl.util.encodeBase64(
    nacl.secretbox(data, nonce, secret)
  )

  /* Applying nounce */
  message += `.${nacl.util.encodeBase64(nonce)}`

  document.getElementById('opg-data').value = message
